body {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background: black;
}

li {
    display: inline-block;
    padding: 20px;
}

a {
    color: white;
}

footer {
    position: fixed;
    color: black;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}